{% extends "global/Page.html" %}
{% block content %}
<h3>Leaderboard - Round {{ player.round_number }}</h3>
<table class="table" id="leaderboard-table">
    <thead>
        <tr>
            <th>Participant</th>
            <th>Contribution</th>
        </tr>
    </thead>
    <tbody id="leaderboard-body">
        {% for member in leaderboard %}
            <tr {% if member.is_own_group %} style="background-color: #dff0d8;" {% endif %}>
                <td>Participant {{ member.player_id }} {% if member.is_self %}(You){% endif %}</td>
                <td>{{ member.contribution }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ next_button }}
<script src="/static/public_goods_leaderboard/leaderboard.js"></script>

{% endblock %}
